<section id="profile" class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">

				<div class="thumbnail">
					<img alt="Default image" src="images/contacts.ico" ng-if="!profileDetails.imagePath"/>
					<img  ng-src="data:image/png;base64,{{profileDetails.profieImageBytes}}" ng-if="profileDetails.imagePath" />
					<div class="caption">
					  <p><input class="white" type="file" file-model="profileDetails.profileImage" ng-if="!viewProfile" />
					  <label ng-if="profileImageInvalidMessage" class="text-danger">{{profileImageInvalidMessage}}</label>
					 <div ng-if="!viewProfile" style="font-size: xx-small;"> Formats: jpg, jpeg, png</div>
					  </p>
						
						<p ng-if="profileDetails.firstName!==null">Name: {{profileDetails.firstName}}</p>
						<p ng-if="profileDetails.currentJobTitle!==null">Designation: {{profileDetails.currentJobTitle}}</p>
						<p>
							<span class="glyphicon glyphicon-envelope"></span> Mail Id:
							{{profileDetails.email}}
						</p>
						<p ng-if="profileDetails.location!==null">
							<span class="glyphicon glyphicon-map-marker"></span> Location: {{profileDetails.location}}
						</p>

						<div ng-if="userDetails.role==0" >
							<div ng-if="fileUrl!=''"><span class="glyphicon glyphicon-file"></span> Default Resume:</div>
							<input class="white" type="file" file-model="profileDetails.defaultResume" ng-if="!viewProfile" />
							<a ng-if="fileUrl!=''" href="{{fileUrl}}">Default Resume</a>
							<label ng-if="resumeInvalidMessage" class="text-danger">{{resumeInvalidMessage}}</label>
						<div ng-if="!viewProfile && userDetails.role==0" style="font-size: xx-small;"> Formats: doc, docx, pdf, xls</div>
		  				 <div ng-if="!viewProfile && userDetails.role==0" style="font-size: xx-small;">Size limit:1 MB </div>
						</div>
						<div ng-if="userDetails.role==0">
							<div ng-if="profileDetails.defaultVideos && profileDetails.defaultVideos.length>0">
							<span class="glyphicon glyphicon-film"></span> Default Videos: 	
							<button  class="btn  btn-xs btn-success " ng-click="onSuccess()" ng-copy="videoUrl">Video(s) Link</button>
							<br>
						  <a href="https://www.facebook.com/sharer/sharer.php?u={{videoUrl}}" target="blank" style="font-size:20px;color:black" class="fa fa-facebook-square"></a>
							<a href="https://www.linkedin.com/shareArticle?mini=true&url={{videoUrl}}" target="blank" style="font-size:20px;color:black" class="fa fa-linkedin-square"></a>
							<a href="https://twitter.com/intent/tweet/?text=PLease find my Video Resume&url={{videoUrl}}" target="blank" style="font-size:20px;color:black" class="fa fa-twitter-square"></a>
							<a href="mailto:?subject=My FaceMyVideo Resume&body={{videoUrl}}" target="blank" style="font-size:20px;color:black" class="fa fa-envelope"></a>
								
							</div>
							<div ng-repeat="count in defaultVideos" style="margin: 10px 0px;">
							<input type="text" ng-model="defaultVideoTitles[$index]" maxlength="50" placeholder="Video Title {{count+1}}" ng-if="!viewProfile && !profileDetails.defaultVideos[$index].videoTitle"/>
							<input class="white" type="file" file-model="profileDetails.defaultVideo[count]" ng-disabled="profileDetails.defaultVideos && profileDetails.defaultVideos[$index].videoTitle" ng-if="!viewProfile && !profileDetails.defaultVideos[$index].videoTitle" />
							<div ng-if="profileDetails.defaultVideos[$index].videoTitle">
							<a style="cursor: pointer;" ng-click="openVideo(profileDetails.defaultVideos[$index].defaultVideoPath)">{{profileDetails.defaultVideos[$index].videoTitle}}</a> <span  ng-if="!viewProfile" style="cursor: pointer;" ng-click="deleteVideo(profileDetails.defaultVideos[$index].id,$index)" class="glyphicon glyphicon-remove"></span>
							</div>
							<label ng-if="videoInvalidMessage[$index]" class="text-danger">{{videoInvalidMessage[$index]}}</label>
							</div>
							
						<div ng-if="!viewProfile && userDetails.role==0" style="font-size: xx-small;"> Formats: mp4, webm, ogg, ogv</div>
        				 <div ng-if="!viewProfile && userDetails.role==0" style="font-size: xx-small;">Size limit:10 MB </div>
        				 <div ng-if="!viewProfile && userDetails.role==0" style="font-size: xx-small;font-style: italic;">For MP4 formats, Please use Chrome or Safari </div>
						
						</div>

						<button type="button" class="btn btn-block btn-primary" ng-if="viewProfile" ng-click="editProfile();">EDIT PROFILE AND UPLOAD</button>
						<button type="button" class="btn btn-block btn-success"  ng-if="!viewProfile" ng-click="updateProfile();" ng-disabled="profileForm.$invalid || profileDetails.experience<0 || profileDetails.currentSalary<0 || profileDetails.expectedSalary<0 || profileDetails.phone<0">SUBMIT PROFILE</button>
						
					</div>
				</div>

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Profile</h3>
					</div>

				</div>
				<div class="row">
					<form name="profileForm" role="form">

						<div class="form-group col-md-6">
							<label for="firstName"> First Name <span style="color:red;">*</span></label> 
							<input type="text" class="form-control" id="firstName" ng-model="profileDetails.firstName" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="firstName"> Middle Name</label>
							 <input type="text" class="form-control" id="middleName" ng-model="profileDetails.middleName" ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6">
							<label for="lastName"> Last Name  <span style="color:red;">*</span></label> 
							<input type="text" class="form-control" id="lastName" ng-model="profileDetails.lastName" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="phoneNo"> Phone no <span style="color:red;">*</span>(10 characters)</label>
							 <input type="number" name="phoneNo" min="1000000000" max="9999999999"  class="form-control" id="phoneNo" ng-model="profileDetails.phone" ng-init="profileDetails.phone=changeToInt(profileDetails.phone)" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="location"> Location <span style="color:red;">*</span></label>
							 <input type="text" class="form-control" id="location" ng-model="profileDetails.location" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="currentJobTitle"> Current Job Title <span style="color:red;">*</span></label>
							 <input type="text" class="form-control" id="currentJobTitle" ng-model="profileDetails.currentJobTitle" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="currentEmployer"> Current Employer <span style="color:red;">*</span></label>
							 <input type="text" class="form-control" id="currentEmployer" ng-model="profileDetails.currentEmployer" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="experience"> Experience <span style="color:red;">*</span></label>
							 <input type="text" class="form-control" id="experience" name="experience" ng-model="profileDetails.experience" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="currentSalary"> Current Salary <span style="color:red;">*</span></label> 
							<input type="number" class="form-control" id="currentSalary"  name="currentSalary" ng-model="profileDetails.currentSalary" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="expectedSalary"> Expected Salary <span style="color:red;">*</span></label> 
							<input type="number" class="form-control" id="expectedSalary"  name="expectedSalary" ng-model="profileDetails.expectedSalary" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">

							<label for="primarySkills"> Primary Skills <span style="color:red;">*</span></label> 

							<input type="text" class="form-control" id="primarySkills" ng-model="profileDetails.primarySkills" ng-disabled="viewProfile"  placeholder="Add skills with comma separated, Eg: Java,Spring" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">

							<label for="secondarySkills"> Secondary Skills <span style="color:red;">*</span></label> <input
								type="text" class="form-control" id="secondarySkills" ng-model="profileDetails.secondarySkills" ng-disabled="viewProfile" placeholder="Add skills with comma separated, Eg: Html,css" required/>

						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization"> Visa Status <span style="color:red;">*</span></label> 
							<input type="text" class="form-control" id="workAuthorization" ng-model="profileDetails.workAuthorization" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization" style="margin-bottom: 17px;"> Job Type <span style="color:red;">*</span></label> </br> 
							<label class="radio-inline">
							 <input type="radio" name="Contract" id="Contract" value="1" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Contract
							</label>
							 <label class="radio-inline">
							  <input type="radio" name="Permanent" id="Permanent" value="0" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Permanent
							</label> 
							<label class="radio-inline"> 
							<input type="radio" name="Any" id="Any" value="2" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Any
							</label> 
						</div>
						
						<div class="form-group col-sm-12 " ng-if="!viewProfile &&( userDetails.role==2)">
						<label for="secondarySkills"> Add Technical Role </label>
						
						 <input type="text" class="form-control" id="roleType" ng-model="profileDetails.roleTechEmailId"  placeholder="Add Technical"/>
						<label class="text-danger" ng-if="roleTechEmailIdErrorMessage">{{roleTechEmailIdErrorMessage}}</label>
						</div>
						
						<div class="form-group col-sm-12 text-center" ng-if="!viewProfile &&( userDetails.role==2)">
						<button type="button" class="btn btn-xs btn-danger" ng-click="addTech(roleTechEmailId);">ADD Technical</button>
						</div>
						
						<div class="col-md-12" ng-if="techUsers.length>0 && (userDetails.role==2)" style="margin-bottom: 10px;">

              <table id="allRoles" class="table table-striped table-bordered centerAlign" style="margin-bottom: 0px;">
                <thead >
                <tr>
                  <th class="bg-primary"> Technical </th>
                   <th class="bg-primary">Action</th>
                </tr>
                </thead>
                <tbody>
                
                 <tr dir-paginate="user in techUsers | filter:search | itemsPerPage: 10 "  pagination-id="technical">
                  <td>{{user.email}}</td>
                  <td><button type="button" class="btn btn-xs btn-danger" ng-disabled="viewProfile" ng-click="removeTechnical($index);">Delete</button></td>
                </tr>
       
                </tbody>

              </table>
<dir-pagination-controls pagination-id="technical" style="position: relative;left: 40%;"></dir-pagination-controls>
        </div>			
					<br>
						
						<div class="form-group col-sm-12 " ng-if="!viewProfile &&( userDetails.role==1 || userDetails.role==2)">
						<label for="secondarySkills"> Add {{roleType}} </label>
						
						 <input type="text" class="form-control" id="roleType" ng-model="profileDetails.roleEmailId"  placeholder="Add {{roleType}}"/>
						<label class="text-danger" ng-if="roleEmailIdErrorMessage">{{roleEmailIdErrorMessage}}</label>
						</div>
						
						<div class="form-group col-sm-12 text-center" ng-if="!viewProfile &&( userDetails.role==1 || userDetails.role==2)">
						<button type="button" class="btn btn-xs btn-danger" ng-click="add(roleEmailId);">ADD {{roleType}}</button>
						<button ng-if=" userDetails.role==2" type="button" class="btn btn-xs btn-primary" ng-click="availableCMS();">ADD From Existing CM's</button>
						</div>
						
						
						 <div class="col-md-12" ng-if="users.length>0 && (userDetails.role==1 || userDetails.role==2)">

              <table id="allRoles" class="table table-striped table-bordered centerAlign" style="margin-bottom: 0px;">
                <thead >
                <tr>
                  <th class="bg-primary"> {{roleType}} </th>
                   <th class="bg-primary">Action</th>
                </tr>
                </thead>
                <tbody>
                
                 <tr dir-paginate="user in users | filter:search | itemsPerPage: 10 "  pagination-id="cmhm" >
                  <td>{{user.email}}</td>
                  <td><button type="button" class="btn btn-xs btn-danger" ng-disabled="viewProfile" ng-click="remove($index);">Delete</button></td>
                </tr>
       
                </tbody>

              </table>
<dir-pagination-controls pagination-id="cmhm" style="position: relative;left: 40%;"></dir-pagination-controls>
        </div>
						
			 	
						
						
						
                     <!--   <div class="form-group col-md-6" >
							<label for="workAuthorization"> Email Account</label> </br> 
							<label class="radio-inline">
							 <input type="radio" name="outlookAccount" id="outlookAccount" value="0" ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Outlook Account
							</label>
							 <label class="radio-inline">
							  <input type="radio" name="gmailAccount" id="gmailAccount" value="1" ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Gmail Account
							</label> 
						</div> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
