<section id="profile" class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">

				<div class="thumbnail">
					<img alt="Default image" src="images/contacts.ico" ng-if="!profileDetails.imagePath"/>
					<img  ng-src="data:image/png;base64,{{profileDetails.profieImageBytes}}" ng-if="profileDetails.imagePath" />
					<div class="caption">
					  <p><input class="white" type="file" file-model="profileDetails.profileImage" ng-if="!viewProfile" /></p>
						
						<p ng-if="profileDetails.firstName!==null">Name: {{profileDetails.firstName}}</p>
						<p ng-if="profileDetails.currentJobTitle!==null">Designation: {{profileDetails.currentJobTitle}}</p>
						<p>
							<span class="glyphicon glyphicon-envelope"></span> Mail Id:
							{{profileDetails.email}}
						</p>
						<p ng-if="profileDetails.location!==null">
							<span class="glyphicon glyphicon-map-marker"></span> Location: {{profileDetails.location}}
						</p>
						
						<button type="button" class="btn btn-block btn-primary" ng-if="viewProfile" ng-click="editProfile();">EDIT PROFILE AND UPLOAD</button>
						<button type="button" class="btn btn-block btn-success" ng-disabled="profileForm.$invalid" ng-if="!viewProfile" ng-click="updateProfile();" ng-disabled="profileDetails.experience<0 || profileDetails.currentSalary<0 || profileDetails.expectedSalary<0 || profileDetails.phone<0">SUBMIT PROFILE</button>
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Profile</h3>
					</div>

				</div>
				<div class="row">
					<form name="profileForm" role="form">

						<div class="form-group col-md-6">
							<label for="firstName"> First Name </label> 
							<input type="text" class="form-control" id="firstName" ng-model="profileDetails.firstName" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="firstName"> Middle Name </label>
							 <input type="text" class="form-control" id="middleName" ng-model="profileDetails.middleName" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="lastName"> Last Name </label> 
							<input type="text" class="form-control" id="lastName" ng-model="profileDetails.lastName" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="phoneNo"> Phone no </label>
							 <input type="number" class="form-control" id="phoneNo" ng-model="profileDetails.phone" ng-init="profileDetails.phone=changeToInt(profileDetails.phone)" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="location"> Location </label>
							 <input type="text" class="form-control" id="location" ng-model="profileDetails.location" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6">
							<label for="currentJobTitle"> Current Job Title </label>
							 <input type="text" class="form-control" id="currentJobTitle" ng-model="profileDetails.currentJobTitle" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-5">
							<label for="currentEmployer"> Current Employer </label>
							 <input type="text" class="form-control" id="currentEmployer" ng-model="profileDetails.currentEmployer" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-5" ng-if="userDetails.role==0">
							<label for="experience"> Experience</label>
							 <input type="text" class="form-control" id="experience" name="experience" ng-model="profileDetails.experience" ng-disabled="viewProfile" required/>
						</div>
						<!-- model start -->
						<div class="form-group col-md-2" ng-if="userDetails.role==0">
                          <label>&nbsp;&nbsp;&nbsp;</label>
                         <button type="button" class="btn  btn-primary active" data-toggle="modal" data-target="#myModal" ng-disabled="viewProfile"> Add Experience</button>
                        </div>
                        

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="currentSalary"> Current Salary </label> 
							<input type="number" class="form-control" id="currentSalary"  name="currentSalary" ng-model="profileDetails.currentSalary" ng-disabled="viewProfile" required/>
						</div>
						

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="expectedSalary"> Expected Salary</label> 
							<input type="number" class="form-control" id="expectedSalary"  name="expectedSalary" ng-model="profileDetails.expectedSalary" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="primarySkills"> Primary Skills </label> 
							<input type="text" class="form-control" id="primarySkills" ng-model="profileDetails.primarySkills" ng-disabled="viewProfile" ng-list placeholder="Add skills with comma separated, Eg: Java,Spring" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="secondarySkills"> Secondary Skills </label> <input
								type="text" class="form-control" id="secondarySkills" ng-model="profileDetails.secondarySkills" ng-disabled="viewProfile" ng-list placeholder="Add skills with comma separated, Eg: Html,css" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization"> Visa Status</label> 
							<input type="text" class="form-control" id="workAuthorization" ng-model="profileDetails.workAuthorization" ng-disabled="viewProfile" required/>
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization" style="margin-bottom: 17px;"> Job Type</label> </br> 
							<label class="radio-inline">
							 <input type="radio" name="Contract" id="Contract" value="1" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Contract
							</label>
							 <label class="radio-inline">
							  <input type="radio" name="Permanent" id="Permanent" value="0" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Permanent
							</label> 
							<label class="radio-inline"> 
							<input type="radio" name="Any" id="Any" value="2" ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Any
							</label> 
						</div>
                     <!--   <div class="form-group col-md-6" >
							<label for="workAuthorization"> Email Account</label> </br> 
							<label class="radio-inline">
							 <input type="radio" name="outlookAccount" id="outlookAccount" value="0" ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Outlook Account
							</label>
							 <label class="radio-inline">
							  <input type="radio" name="gmailAccount" id="gmailAccount" value="1" ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Gmail Account
							</label> 
						</div> -->
					</form>
				</div>
			</div>
		</div>
	</div>

 <div class="modal fade" id="myModal" role="dialog">
                         <div class="modal-dialog">
					      <div class="modal-content model_width">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					        </div>
					   <div class="modal-body">
						  
					 <form  name="experienceForm" role="form" >
						  <div class="addFields" ng-repeat="expDetails in addExpFields">
						   <div class="col-md-10">
						    <div class="form-group col-md-3" ng-if="userDetails.role==0">
								<label for="employer">Company Name </label>
								 <input type="text" class="form-control" id="employer" name="employer" ng-model="expDetails.employer" ng-disabled="viewExperience" required/>
							</div> 
							<div class="form-group col-md-3" ng-if="userDetails.role==0">
								<label for="jobTitle">Job Title</label>
								 <input type="text" class="form-control" id="jobTitle" name="jobTitle" ng-model="expDetails.jobTitle" ng-disabled="viewExperience" required/>
							</div> 
							<div class="form-group col-md-3" ng-if="userDetails.role==0">
								<label for="joiningDate">Start Date</label>
						        <p class="input-group">
	                            <input type="text" readonly="readonly" id="joiningDate" name="joiningDate" ng-click="popup1.opened=!popup1.opened" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="expDetails.joiningDate" is-open="popup1.opened"  datepicker-options="options" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Start Date"/>
	                             <span class="input-group-btn">
	                              <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened" ng-disabled="viewExperience"><i class="glyphicon glyphicon-calendar"></i></button>
	                               </span></p>
							</div> 
							<div class="form-group col-md-3" ng-if="userDetails.role==0">
								<label for="releavingDate">End Date</label>
						        <p class="input-group">
	                            <input type="text" readonly="readonly" id="releavingDate" name="releavingDate" ng-click="popup1.opened=!popup1.opened" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="expDetails.releavingDate" is-open="popup1.opened"  datepicker-options="options" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Start Date"/>
	                             <span class="input-group-btn">
	                              <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened" ng-disabled="viewExperience"><i class="glyphicon glyphicon-calendar"></i></button>
	                               </span></p> 
							</div>
						  </div>
						 
						    <div class="col-md-2">
						    <div class="form-group" ng-if="userDetails.role==0">
						    <label></label>
						    
							  <button type="submit" class="btn btn-danger" ng-disabled="viewExperience" ng-model="expDetails.id" ng-click="removeDetails(expDetails.id, $index);" value="{{expDetails.id}}"><span class="glyphicon glyphicon-minus"></span></button>
							  
							  </div>   
						  </div>
						  
	                    </div>
	                  
	                   
	                  <div class="modal-footer">
	                    <div class="col-md-4 col-md-offset-3">
						   <button type="button" class="btn  btn-primary active" ng-disabled="viewExperience" ng-click="addFormFields($event);"> Add Experience</button>
						   <button type="button" class="btn btn-primary" ng-if="viewExperience" ng-click="editExperience();">Edit Details</button>
						   
					       <button type="submit" class="btn btn-success" ng-disabled="experienceForm.$invalid" ng-if="!viewExperience" ng-click="insertexpdetails();" >Submit</button>
						   </div>
					   </div>
					    
	              </form>
						
	                </div>					    
	</div>
 </div>
 </div>
</section>
						<!-- model end --> 
