<section id="profile" class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">

				<div class="thumbnail">
					<img alt="Bootstrap Thumbnail Third" src="images/contacts.ico" />
					<div class="caption">

						<p>Name: Davidson</p>
						<p>Designation: Web Developer</p>
						<p>
							<span class="glyphicon glyphicon-envelope"></span> Mail Id:
							dummy@gmail.com
						</p>
						<p>
							<span class="glyphicon glyphicon-map-marker"></span> Location:
							San Franisco, US
						</p>
						<p>
							<span class="glyphicon glyphicon-user"></span> Date Of Birth:
							01/02/1889
						</p>
						</br> </br>
						<p>
							<button type="button" class="btn btn-block btn-primary">EDIT
								PROFILE AND UPLOAD</button>
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">For Company</h3>
					</div>

				</div>
				<div class="row">
					<form role="form">
						


							<div class="form-group col-md-6">
								<label for="firstName"> First Name </label> <input type="text"
									class="form-control" id="firstName" value="Davidson" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="firstName"> Middle Name </label> <input type="text"
									class="form-control" id="firstName" value="Davidson" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="lastName"> Last Name </label> <input type="text"
									class="form-control" id="lastName" value="John" />
							</div>

                           <div class="form-group col-md-6">
								<label for="phoneNo"> Phone no </label> <input type="text"
									class="form-control" id="phoneNo" value="9999999999" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="location"> Location </label> <input type="text"
									class="form-control" id="location" value="San Franisco, US" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="currentJobTitle"> Current Job Title </label> <input
									type="text" class="form-control" id="currentJobTitle"
									value="Web Developer" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="currentEmployer"> Current Employer </label> <input
									type="text" class="form-control" id="currentEmployer"
									value="Facebook" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="experience"> Experience</label> <input
									type="number" class="form-control" id="experience"
									value="2" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="currentSalary"> Current Salary </label> <input
									type="number" class="form-control" id="currentSalary"
									value="2" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="exceptedSalary"> Excepted Salary</label> <input
									type="number" class="form-control" id="exceptedSalary"
									value="2" />
							</div>
							
							<div class="form-group col-md-6">
								<label for="primarySkills"> Primary Skills </label> <input type="text"
									class="form-control" id="primarySkills" value="" />
							</div>

							<div class="form-group col-md-6">
								<label for="secondarySkills"> Primary Skills </label> <input type="text"
									class="form-control" id="secondarySkills" value="" />
							</div>

                          <div class="form-group col-md-6">
								<label for="workAuthorization"> Work Authorization</label> <input type="text"
									class="form-control" id="workAuthorization" value="USA" />
							</div>
							
							 <div class="form-group col-md-6">
								<label for="workAuthorization"> Job Type</label> </br>
								<label class="radio-inline"> <input
			type="radio" name="inlineRadioOptions" id="inlineRadio1"
			value="option1"> Candidate
		</label> <label class="radio-inline"> <input type="radio"
			name="inlineRadioOptions" id="inlineRadio2" value="option2">
			Consulting Manager
		</label> <label class="radio-inline"> <input type="radio"
			name="inlineRadioOptions" id="inlineRadio3" value="option3">
			Hiring Manager
							</div>

							
							
							

						
						

							

							

							

						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
