<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="roleDisplay"><a href="#"><i class="glyphicon glyphicon-user"></i> <span>Consulting Company</span></a></li>
        <li ><a ui-sref=".templates" ><i class="glyphicon glyphicon-pencil"></i> <span>Templates</span></a></li>
        <li ><a ui-sref=".myJobsConsultancy"><i class="glyphicon glyphicon-screenshot"></i> <span>My Jobs</span></a></li>
      </ul>
  </br>
      <ul class="sidebar-menu">
        <li class="roleDisplay"><a href="#"><i class="glyphicon glyphicon-user"></i> <span>Hiring Manager</span></a></li>
        <li ><a ui-sref=".myJobs"><i class="glyphicon glyphicon-screenshot"></i> <span>My Jobs</span></a></li>
      </ul>
  </br>
      <ul class="sidebar-menu">
        <li class="roleDisplay"><a href="#"><i class="glyphicon glyphicon-user"></i> <span>Candidate</span></a></li>
        <li ><a ui-sref=".openings" ><i class="glyphicon glyphicon-modal-window"></i> <span>Openings</span></a></li>
        <li ><a ui-sref=".mySubmissions"><i class="glyphicon glyphicon-share"></i> <span>Submissions<span></a></li>
      </ul>
      </br>
          <ul class="sidebar-menu">
            <li class="roleDisplay"><a href="#"><i class="glyphicon glyphicon-lock"></i> <span>Admin</span></a></li>
            <li ><a ui-sref=".allUsers" ><i class="glyphicon glyphicon-modal-window"></i> <span>All Users</span></a></li>
          </ul>
    </section>
    <!-- /.sidebar -->
  </aside>