<aside class="main-sidebar">

	<section class="sidebar">
		<ul class="sidebar-menu">
			<li ng-repeat="(view,authority) in authorities">
			<a ui-sref="{{view}}"><i class="{{authority[0]}}"></i> <span>{{authority[1]}}</span></a>
			</li>
		</ul>
		</br>
		<ul class="sidebar-menu">
			<li><a ui-sref=""><i class="glyphicon glyphicon-lock"></i> <span>Admin</span></a></li>
			<li><a ui-sref=".allUsers"><i class="glyphicon glyphicon-modal-window"></i> <span>All Users</span></a></li>
		</ul>
	</section>

</aside>