<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hired Applicant</title>
<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
<!--[if lt IE 9]>
   
  <![endif]-->
</head>
<body
	style="margin: 0; padding: 0; background: #fff; font-size: 62.5%; padding-bottom: 65px; padding-top: 65px">

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Hello <span th:text="${name}"> </span>,
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		<span th:text="${message}"> </span>. <br />
		<span th:if="${role} != 0">
		Comments : <br />
		<span th:text="${comment}"></span> <br /> 	</span>
		
		Please login to application by clicking the  <a href="#"
			th:href="|${path}|" style="color: #5582d6; text-decoration: none">Link </a>.
	</h2>


	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Thanks,<br /> VideoResume Team.

	</h2>


</body>
</html>
