<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hired Applicant</title>
<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
<!--[if lt IE 9]>
   
  <![endif]-->
</head>
<body
	style="margin: 0; padding: 0; background: #fff; font-size: 62.5%; padding-bottom: 65px; padding-top: 65px">

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Hello <span th:text="${cmName}"> </span>,
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		HM has made the decision of <b>'ÚNDECIDED'</b> for the application of Video Resume - <span th:text="${candidateName}"></span> - <span th:text="${jobName}"></span>. 
		Please login to the Video Resume by clicking the   <a href="#"
			th:href="|${path}|" style="color: #5582d6; text-decoration: none">Link </a>.
	</h2>


	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Thanks,<br /> FaceMyResume Team.

	</h2>


</body>
</html>
