<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Demo</title>
<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
<!--[if lt IE 9]>
   
  <![endif]-->
</head>
<body
	style="margin: 0; padding: 0; background: #fff; font-size: 62.5%; padding-bottom: 65px; padding-top: 65px">

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Hi Sales,
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		A new Demo has been requested by the customer. Please find the customer Details.
		<br>
		<br>
		Name : <span th:text="${name}"> </span><br>
		Email : <span th:text="${email}"> </span><br>
		Phone : <span th:text="${phone}"> </span><br>
		Website : <span th:text="${website}"> </span><br>
		Country : <span th:text="${country}"> </span><br>
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Thanks,<br /> FaceMyResume Team.

	</h2>


</body>
</html>
