<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Password Changed</title>
<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
<!--[if lt IE 9]>
   
  <![endif]-->
</head>
<body
	style="margin: 0; padding: 0; background: #fff; font-size: 62.5%; padding-bottom: 65px; padding-top: 65px">

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Dear <span th:text="${name}"> </span>,
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Please find the newly generated password -<span
			th:text="${password}"> </span>
	</h2>

	<h2
		style="font-family: Garamond, Georgia, serif; color: #656565; font-size: 1.8em; margin-bottom: 6px">
		Thanks,<br /> VideoResume Team.

	</h2>


</body>
</html>
