<form name="applyJobForm">
<section class="content">
<div class="row" >
<div class="col-md-12">
   <h2 class="text-left text-primary" style="margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;text-decoration: underline;" >{{opening.title}}</h2>
   </div>
   </div>
   <p class="text-danger">{{error}}</p>
   <div class="row" ng-repeat="section in sections.split(',')" style="border-bottom: 1px solid #ccc;margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 ng-init="assignSectionName(section,$index);" class="text-left text-primary" style=" margin-bottom: 10px;margin-top: 10px;">
				{{section}}
			</h3>
		</div>
		<div class="col-md-4">
		<label class="text-danger" ng-if="resume.sections[$index].videoFileInvalidFormat">{{resume.sections[$index].videoFileInvalidFormat}}</label>
		<label class="text-danger" ng-if="resume.sections[$index].videoFileInvalidSize">{{resume.sections[$index].videoFileInvalidSize}}</label>
		 <input class="white" name="file{{$index}}" type="file" file-model="resume.sections[$index].videoFile" required="required"/>
		 <div style="font-size: xx-small;"> Formats: mp4, webm, ogg, ogv</div>
  <div style="font-size: xx-small;">Size limit:10 MB </div>
		</div>
		<div class="col-md-4">
		  <input-stars max="5" ng-model="resume.sections[$index].userRating"></input-stars>
		</div>
	</div>
	<div class="row" style="border-bottom: 1px solid #ccc;margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 class="text-left text-primary">
				Interview Availability
			</h3>
		</div>
		<div class="col-md-4">
		
		<p class="input-group" style="margin-bottom: 0px;">
        <input type="text" name="avail1" required="required" readonly="readonly" ng-click="popup1.opened=!popup1.opened" class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd"   ng-model="resume.interviewAvailability[0].date" is-open="popup1.opened"  datepicker-options="dateOptions.first"  close-text="Close" placeholder="Select Date" date-disabled="disabled(date, mode)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
         
        </p>
         <label style="font-size: x-small;">Pick time slots for interview in next 7 days</label>
        <p class="input-group" style="margin-bottom: 0px;">
        <input required="required" name="avail2" type="text" readonly="readonly" ng-click="popup2.opened=!popup2.opened"  class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd" ng-model="resume.interviewAvailability[1].date" is-open="popup2.opened" datepicker-options="dateOptions.second"  close-text="Close"  placeholder="Select Date" date-disabled="disabled(date, mode)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup2.opened=!popup2.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <label style="font-size: x-small;">Pick time slots for interview in next 7-14 days</label>
        <p class="input-group" style="margin-bottom: 0px;">
        <input required="required" name="avail3" type="text" readonly="readonly"  ng-click="popup3.opened=!popup3.opened"  class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd" ng-model="resume.interviewAvailability[2].date" is-open="popup3.opened" datepicker-options="dateOptions.third"  close-text="Close"  placeholder="Select Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup3.opened=!popup3.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
		<label style="font-size: x-small;">Pick time slots for interview in next 14-21 days</label>
		</div>
		
		<div class="col-md-2">
		<p>
		<select class="form-control " ng-model="resume.interviewAvailability[0].from" required="required" ng-change="setEndTime(0);" style="margin-bottom: 23px;">
					<option>Start Time</option>
					<option ng-repeat="time in startDate">{{time}}</option>
		</select>
		<select class="form-control " ng-model="resume.interviewAvailability[1].from" required="required" ng-change="setEndTime(1);" style="margin-bottom: 23px;">
						<option>Start Time</option>
						<option ng-repeat="time in startDate">{{time}}</option>
		 </select>
		 <select  class="form-control " ng-model="resume.interviewAvailability[2].from" required="required" ng-change="setEndTime(2);" style="margin-bottom: 23px;">
						<option>Start Time</option>
						<option ng-repeat="time in startDate">{{time}}</option>
		 </select>		
	 </p>
	 </div>
	 <div class="col-md-2">
	 <p>
		 <select class="form-control " ng-model="resume.interviewAvailability[0].to" ng-change="checkInvalidEndTime(0);"  ng-disabled="resume.interviewAvailability[0].invalid" required="required" style="margin-bottom: 23px;">
						<option>End Time</option>
						<option ng-repeat="time in endDate1[0]">{{time}}</option>
			</select>
		<select  class="form-control" ng-model="resume.interviewAvailability[1].to" ng-change="checkInvalidEndTime(1);" ng-disabled="resume.interviewAvailability[1].invalid" required="required" style="margin-bottom: 23px;">
						<option>End Time</option>
						<option ng-repeat="time in endDate1[1]">{{time}}</option>
		 </select>	
		 <select class="form-control" ng-model="resume.interviewAvailability[2].to"  ng-change="checkInvalidEndTime(2);" ng-disabled="resume.interviewAvailability[2].invalid" required="required" style="margin-bottom: 23px;">
						<option>End Time</option>
						<option ng-repeat="time in endDate1[2]">{{time}}</option>
		 </select>				
					</p>
		</div>
	</div>
	<div class="row" style="margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 class="text-left text-primary">
				Attachments 
			</h3>
		</div>
		<div class="col-md-8">
		<label class="text-danger">{{resume.attachmentInvalidFormat}}</label>
		<label class="text-danger">{{resume.attachmentInvalidSize}}</label>
		 <input class="white" name="attachment" type="file" file-model="resume.attachment"  required="required"/>
		 	 <div style="font-size: xx-small;"> Formats: doc, docx</div>
		   <div style="font-size: xx-small;">Size limit:1 MB </div>
         <input type="text" class="form-control" ng-model="resume.attachmentName" placeholder="eg: Resume, Cover Letter" required="required">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 text-center">
			<button type="submit" class="btn btn-primary btn-default active" ng-click="applyJob();" ng-disabled="resume.interviewAvailability[1].invalid || resume.interviewAvailability[1].invalid || resume.interviewAvailability[2].invalid || applyJobForm.$invalid">
				Apply
			</button>
		</div>
	</div>
   <br><br>
 </section>
 </form>