<section class="content">
<div class="row" >
<div class="col-md-12">
   <h3 class="text-left text-primary" style="margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;" >{{opening.title}}</h3>
   </div>
   </div>
   <div class="row" ng-repeat="section in sections.split(',')" style="border-bottom: 1px solid #ccc;margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 ng-init="assignSectionName(section,$index);" class="text-left text-primary" style=" margin-bottom: 10px;margin-top: 10px;">
				{{section}}
			</h3>
		</div>
		<div class="col-md-4">
		 <input class="white" type="file" file-model="resume.sections[$index].videoFile"/>
		 <div style="font-size: xx-small;"> Formats:</div>
  <div style="font-size: xx-small;">Size limit:10 MB </div>
		</div>
		<div class="col-md-4">
		  <input-stars max="5" ng-model="resume.sections[$index].userRating"></input-stars>
		</div>
	</div>
	<div class="row" style="border-bottom: 1px solid #ccc;margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 class="text-left text-primary">
				Interview Availability
			</h3>
		</div>
		<div class="col-md-4">
		
		<p class="input-group">
        <input type="text" readonly="readonly" class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd" ng-model="resume.interviewAvailability[0].date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Select Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        
        <p class="input-group">
        <input type="text" readonly="readonly"  class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd" ng-model="resume.interviewAvailability[1].date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Select Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup2.opened=!popup2.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        
        <p class="input-group">
        <input type="text" readonly="readonly"  class="form-control col-md-6" uib-datepicker-popup="yyyy/MM/dd" ng-model="resume.interviewAvailability[2].date" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Select Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup3.opened=!popup3.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
		
		</div>
		
		<div class="col-md-2">
		<p>
		<select class="form-control " ng-model="resume.interviewAvailability[0].from" required="required">
					<option>Start Time</option>
					<option ng-repeat="time in startDate">{{time}}</option>
		</select>
		<select style="margin-top: 9px;" class="form-control " ng-model="resume.interviewAvailability[1].from" required="required">
						<option>Start Time</option>
						<option ng-repeat="time in startDate">{{time}}</option>
		 </select>
		 <select style="margin-top: 9px;" class="form-control " ng-model="resume.interviewAvailability[2].from" required="required">
						<option>Start Time</option>
						<option ng-repeat="time in startDate">{{time}}</option>
		 </select>		
	 </p>
	 </div>
	 <div class="col-md-2">
	 <p>
		 <select class="form-control " ng-model="resume.interviewAvailability[0].to" required="required">
						<option>End Time</option>
						<option ng-repeat="time in endDate">{{time}}</option>
			</select>
		<select style="margin-top: 9px;" class="form-control" ng-model="resume.interviewAvailability[1].to" required="required">
						<option>End Time</option>
						<option ng-repeat="time in endDate">{{time}}</option>
		 </select>	
		 <select style="margin-top: 9px;" class="form-control" ng-model="resume.interviewAvailability[2].to" required="required">
						<option>End Time</option>
						<option ng-repeat="time in endDate">{{time}}</option>
		 </select>				
					</p>
		</div>
	</div>
	<div class="row" style="margin-left: 0px;margin-right: 0px;margin-bottom: 8px;margin-top: 8px;">
		<div class="col-md-4">
			<h3 class="text-left text-primary">
				Attachments 
			</h3>
		</div>
		<div class="col-md-8">
		 <input class="white" type="file" file-model="resume.attachment"  />
		   <div style="font-size: xx-small;">Size limit:1 MB </div>
         <input type="text" class="form-control" ng-model="resume.attachmentName" placeholder="eg: Resume, Cover Letter">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-primary btn-default active" ng-click="applyJob();">
				Apply
			</button>
		</div>
	</div>
   <br><br>
 </section>