
<section class="content-header" style="padding: 5% 10%">


	<div class="panel panel-primary">
		<div class="panel-heading">Change Password</div>
		<div class="panel-body">
			<form  class="form-horizontal" ng-submit="changePassword();">
			<label class="text-danger">{{error}}</label>
			<label class="text-success">{{success}}</label>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" name="name" class="form-control" ng-model="changePassword.password" id="name"
							placeholder="Password"  required="required">
					</div>
				</div>
				<div class="form-group">
					<label for="section" class="col-sm-2 col-xs-12 control-label">Confirm Password</label>
					<div class="col-sm-10 col-xs-10">
						<input type="password" class="form-control" name="section" ng-model="changePassword.confirmPassword" id="section"
							placeholder="Confirm Password"  required="required">
					</div>
					
				</div>
				<span id="newTemplateForm"></span>
				<div class="text-center">
<button type="submit"  class="btn  btn-success active" > Change Password</button>
</div>
			</form>

		</div>
	</div>


</section>