
<section class="content-header" style="padding: 5% 10%">


	<div class="panel panel-primary">
		<div class="panel-heading">Edit Template</div>
		<div class="panel-body">
			<form class="form-horizontal"  ng-submit="updateTemplate();" >
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" id="name" ng-model="template.templateName" value="{{template.templateName}}"
							placeholder="Name" required="required" readonly="readonly">
					</div>
				</div>
				<div id='{{$index}}' class="form-group" ng-repeat="section in template.sections track by $index">
					<label for="section" class="col-sm-1 col-xs-12 control-label">Section</label>
					<div class="col-sm-10 col-xs-10">
						<input ng-if="$index===0" type="text" class="form-control" name="section{{$index}}" ng-model="template.sections[$index]" ng-focus="addNewSection($index);"  id="section[$index]" value="{{section}}"
							placeholder="Section" required="required">
							<input ng-if="$index!==0"  type="text" class="form-control" name="section{{$index}}" ng-model="template.sections[$index]" ng-focus="addNewSection($index);"  id="section[$index]" value="{{section}}"
							placeholder="Section" >
					</div>
					<div class="col-sm-1 col-xs-1" ng-if="$index!==0">
						<a class="btn btn-danger" ng-click="removeSection($index)" role="button"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>
				<span id="editTemplateForm"></span>
				<button  type="submit" class="btn btn-block btn-success active">
				Update Template</button>
			</form>
			


		</div>
	</div>


</section>