<section class="content">
   <div class="row">
     <div class="col-md-12">
       <a ui-sref="main.postJob" class="btn btn-success pull-right" role="button">Post Job</a>
     </div>
   </div>
   <div class="row" style="padding-top:10px;">
   <div class="col-md-12">
     <ul class="nav nav-tabs bg-primary">
       <li><a href="#tab_1" style="color:white;">ACTIVE</a></li>
       <li><a href="#tab_2" style="color:white;">HOLD</a></li>
       <li><a href="#tab_3" style="color:white;">CLOSED</a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="tab_1">
            <div class="row">
     <div class="col-md-12">
           <table id="postJob" class="table table-hover table-border">
             <thead>
             <tr class="active" >
               <th class="bg-primary" style="color:black;">Title</th>
       <th class="bg-primary" style="color:black;">Posted</th>
       <th class="bg-primary" style="color:black;">Location</th>
               <th class="bg-primary" style="color:black;">ACTIONS</th>
             </tr>
             </thead>
             <tbody>
             
             
             
           <!--  <tr ng-repeat="job in myJobs">
               <td><button type="button" class="btn btn-link">{{job.title}}</button></td>
			       <td>{{job.createdAt}}</td>
			       <td>{{job.location}}</td>
	               <td>
	                 <button type="button" class="btn btn-xs btn-default">Hold</button>
	                 <button type="button" class="btn btn-xs btn-danger">Close</button>
	                 <button type="button" class="btn btn-xs btn-primary">Edit</button>
	                 <button type="button" class="btn btn-link">View Submissions(14)</button>
	               </td>
	                <tr >
		             <td colspan="4">
		           
		           <div class="row">
		           <div class="col-md-12">
		           <h3> {{job.title}}</h3>
		            <p><span class="label label-primary">{{job.jobType}} | ${{job.compensation}} | Exp: {{job.experience}} | <span class="glyphicon glyphicon-map-marker"></span>{{job.location}} | <span class="glyphicon glyphicon-calendar"></span>{{job.createdAt}} </span></p>
		           </div>
		           <hr>
		           <div class="col-md-12">
		            <h3> Description:</h3>
		            <p>{{job.description}}</p>
		            </div>
		            </div>
		            
		            
		             </td>
		             </tr> -->
             
     
             <tr >
               <td><button type="button" class="btn btn-link">UI Developer</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
            
             <tr >
               <td><button type="button" class="btn btn-link">Performance Test Lead</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">Network System Engineer</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">Sales Force</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">Business Analysis</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">Sr.Ruby On Rails</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">Dot Net Programmer</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>
             <tr >
               <td><button type="button" class="btn btn-link">UX/UI Developer</button></td>
       <td>Sep 07,2016</td>
       <td>California</td>
               <td>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-hand-up"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span>	</button>
                 <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
         <button type="button" class="btn btn-link">View Submissions(14)</button>
               </td>
             </tr>

             </tbody>

           </table>

     </div>
</div>
       </div>

     </div>
   </div>
 </div>
 </section>