  <section id="allUsers"  class="content-header">
      <div class="row">
        <div class="col-md-12">
        <h3 class="text-primary">My Submissions</h3>
        <div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="input-group">
     <input type="text" class="form-control" placeholder="Type Here to Filter My Jobs" ng-model="search" aria-describedby="basic-addon2">
     <span class="input-group-addon glyphicon glyphicon-filter" ></span>
     </div>
     </div>
     <div class="col-md-2"></div>
     </div>
     </br></br>
              <table id="allUsersTable" class="table table-striped table-bordered centerAlign">
                <thead >
                <tr>
                  <th class="bg-primary">Job Title</th>
                  <th class="bg-primary">Status</th>
                  <th class="bg-primary">Resume</th>
                  <th class="bg-primary">Applied On</th>
                </tr>
                </thead>
                
                <tbody dir-paginate="mySubmission in mySubmissions | filter:search| itemsPerPage: 10 " >
              <tr>
                  <td><label ng-init="mySubmission.showDescription=false" ng-click="getJobDetails(mySubmission.jobId,$index);" class="text-primary" style="cursor: pointer;">{{mySubmission.title}}</label></td>
                  <td>{{mySubmission.status}}</td>
                  <td><a style="cursor:pointer;" ng-click="showResume(mySubmission.jobId,mySubmission.title);">View Resume</a></td>
                  <td>{{mySubmission.createdAt | date:'MMM dd, yyyy'}}</td>
                </tr>
                 <tr>
                 <td ng-show="mySubmission.showDescription" colspan="4" style="text-align: left;background-color: silver">
                 <p ><span class="label label-primary">{{mySubmission.jobDetails.jobType==0?"Permanent":"Contract"}}</span> | ${{mySubmission.jobDetails.compensation}} | Exp: {{mySubmission.jobDetails.experience}} | <span class="glyphicon glyphicon-map-marker">{{mySubmission.jobDetails.location}}</span> | <span class="glyphicon glyphicon-calendar"></span>{{mySubmission.jobDetails.createdAt | date:'dd MMM yyyy'}} </p>
                 <p ng-bind-html="mySubmission.jobDetails.description | toTrustHtml"> </p>
                 </td>
                </tr>
                </tbody>

              </table>
<dir-pagination-controls style="position: relative;left: 40%;"></dir-pagination-controls>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
