
<section class="content-header" style="padding: 5% 10%">


	<div class="panel panel-primary">
		<div class="panel-heading">Create New Template</div>
		<div class="panel-body">
			<form  class="form-horizontal" ng-submit="createTemplate();">
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control" ng-model="template.templateName" id="name"
							placeholder="Name" required="required">
					</div>
				</div>
				<div class="form-group">
					<label for="section" class="col-sm-1 col-xs-12 control-label">Section</label>
					<div class="col-sm-10 col-xs-10">
						<input type="text" class="form-control" name="section" ng-model="template.sections[0]" ng-focus="addNewSection(0);" id="section"
							placeholder="Section" required="required">
					</div>
					<div class="col-sm-1 col-xs-1">
					</div>
				</div>
				<span id="newTemplateForm"></span>
<button type="submit" class="btn btn-block btn-success active" > Create Template</button>
			</form>

		</div>
	</div>


</section>