
<section class="content-header" style="padding: 5% 2%">


	<div class="panel panel-primary">
		<div class="panel-heading">Create New Template</div>
		<div class="panel-body">
			<form  class="form-horizontal" ng-submit="createTemplate();">
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">Name<span class="text-red">*</span></label>
					<div class="col-sm-11">
						<input type="text" name="name" class="form-control" ng-model="template.templateName" id="name"
							placeholder="Name" required="required">
					</div>
				</div>
				
				<div class="form-group">
					
					<label for="section" class="col-sm-1 col-xs-12 control-label">Section<span class="text-red">*</span></label>
					<div class="col-sm-3 col-xs-12">
						<input type="text" class="form-control" name="section" ng-model="template.sections[0]"  id="section"
							placeholder="Section" required="required">
					</div>
					<label for="duration" class="col-sm-1 col-xs-12 control-label">Video Duration<span ng-if="!template.internalSections[0]" class="text-red">*</span></label>
					<div class="col-sm-2 col-xs-12">
						<input type="number"  min="30" max="120" class="form-control" name="duration" ng-model="template.durations[0]"  id="duration"
							placeholder="Video Duration In Secs" ng-required="!template.internalSections[0]">
					</div>
					<label for="order" class="col-sm-1 col-xs-12 control-label">Order<span class="text-red">*</span></label>
					<div class="col-sm-2 col-xs-12">
						<input type="number" min="1" max="{{index}}" class="form-control" name="order" ng-model="template.orders[0]"  id="order"
							placeholder="Order" required="required">
					</div>
					<div class="col-sm-2 col-xs-12">
					<input type="checkbox" ng-model="template.internalSections[0]" > Internal Section 
					</div>
				</div>
				<span id="newTemplateForm"></span>
				<div class="col-xs-12 text-danger">
				<label>{{errorMessage}}</label>
				</div>
				<div class="col-xs-12" style="font-size: smaller;">
				<label class="text-danger">Note: Please don't enter comma(,) in Section </label>
				</div>
				<div class="text-center">
				<button type="button" class="btn  btn-primary active" ng-click="addNewSection();"> Add Section</button>
				<button type="submit" class="btn  btn-success active" > Create Template</button>
				</div>
			</form>

		</div>
	</div>


</section>