
<section class="content-header" style="padding:5% 10%">
	

		<div class="panel panel-primary">
			<div class="panel-heading">Create New User</div>
			<div class="panel-body">
				<div ng-messages="loginMessageDetails.errorMessage" class="col-md-12 text-danger" style="padding-left: 0px;">
									<div ng-message="signup_emailId">{{loginMessageDetails.errorMessage.signup_emailId}}</div>
								</div>

								<div ng-messages="loginMessageDetails.successMessage" class=" col-md-12 text-success" style="padding-left: 0px;">
									<div ng-message="signup_emailId">{{loginMessageDetails.successMessage.signup_emailId}}</div>
								</div>
				<form ng-submit="signup();" >
<div class="row">
	<div class="col-md-12">
		<div class="loginFields">
			<span class="glyphicon glyphicon-user  bg-primary"></span> <input
				type="email" name="emailId" ng-model="userDetails.emailId" placeholder="E-mail address" required="required" ng-blur="checkEmailAvailable();" />
		</div>
		<div class="loginFields">
			<span class="glyphicon glyphicon-lock  bg-primary"></span> <input
				type="password"  name="password" ng-model="userDetails.password" placeholder="Password" required="required"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<strong>Role</strong> : 
		  <label class="radio-inline" ng-repeat="(name,value) in roles"> 
		  <input type="radio" name="{{name}}" id="{{name}}"	ng-value="value" ng-model="userDetails.role"> {{name}}
		</label> 
	</div>
</div>

</br>
<button type="submit" class="btn btn-block btn-success active" ng-disabled="loginMessageDetails.errorMessage.signup_emailId">
	Create</button>
				</form>

			</div>
		</div>


</section>