<section class="content">

     <div class="row" style="padding-top:10px;">

     <div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="input-group">
     <input type="text" class="form-control" placeholder="Type Here to Filter Skill Jobs" ng-model="search" aria-describedby="basic-addon2">
     <span class="input-group-addon glyphicon glyphicon-filter" ></span>
     </div>
     </div>
     <div class="col-md-2"></div>
     </div>
     
       <div class="col-md-12"  dir-paginate="opening in openings | filter:search| itemsPerPage: 10 " >
				<div class="col-md-12 submissionBg" style="cursor: pointer;" ng-click="opening.openDescription=!opening.openDescription">
        <span>  {{opening.title}} <span class="label label-success" ng-repeat="skill in opening.skills.split(',')">{{skill}}</span><span  ng-if="opening.applied" class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
        </br>
        <p style="margin-bottom: 3px;margin-top: 5px;"><span class="label label-primary">{{opening.jobType==0?"Permanent":"Contract"}}</span> <label ng-show="opening.showCompensation">| Compensation: {{opening.compensation}}</label> | Currency: {{opening.currency}} | Exp: {{opening.minimumExperience}}-{{opening.maximumExperience}} | PayRate: {{opening.payrateType}}<span class="glyphicon glyphicon-map-marker">{{opening.location}}</span> | <span class="glyphicon glyphicon-calendar"></span>{{opening.createdAt | date:'dd MMM yyyy'}} </p>
      	</div>
        <div class="col-md-12 submissionDetails" style="margin-top: 0px;" ng-show="opening.openDescription" >
         <p ng-bind-html="opening.description | toTrustHtml"> </p>
           <p><button  class="btn  btn-xs btn-success pull-right" type="submit" ng-click="applyJob(opening);">Apply</button></p>
         </div>
     </div>
   
   <dir-pagination-controls style="position: relative;left: 40%;"></dir-pagination-controls>
		</div>

   </section>