<section class="content">

     <div class="row" style="padding-top:10px;">

     <div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="input-group">
     <input type="text" class="form-control" placeholder="Type Here to Filter Skill Jobs" ng-model="search" aria-describedby="basic-addon2">
     <span class="input-group-addon glyphicon glyphicon-filter" ></span>
     </div>
     </div>
     <div class="col-md-2"></div>
     </div>
     
       <div class="col-md-12"  dir-paginate="opening in openings | filter:search| itemsPerPage: 10 " >
				<div class="col-md-12 submissionBg" style="cursor: pointer;" ng-click="opening.openDescription=!opening.openDescription">
        <span>  {{opening.title}} <span class="label label-success" ng-repeat="skill in opening.skills.split(',')">{{skill}}</span><span  ng-if="opening.applied" class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
        </br>
        <p style="margin-bottom: 3px;margin-top: 5px;"><span class="label label-primary">{{opening.jobType==0?"Permanent":"Contract"}}</span> <label ng-show="opening.showCompensation" style="font-weight: 400;">| Diversity: {{opening.diversityList}} | Compensation: {{opening.compensation}}</label> | Currency: {{opening.currency}} | Exp: {{opening.minimumExperience}}-{{opening.maximumExperience}} | PayRate: {{opening.payrateType}}<span class="glyphicon glyphicon-map-marker">{{opening.location}}</span> | <span class="glyphicon glyphicon-calendar"></span>{{opening.createdAt | date:'dd MMM yyyy'}} </p>
       <p>
		            <span ng-if="opening.preferredCheck">Preferred |</span> 
		             <span ng-if="opening.diverseCheck">Diverse | </span> 
		             <!-- <span ng-if="opening.diverseType">Diverse Type : {{opening.diverseType}}  | </span> --> 
		           <span ng-if="opening.department">Department : {{opening.department}} | </span> 
		           <span ng-if="opening.quota">Quota : {{opening.quota}} % | </span>
		           <span ng-if="opening.others">Others : {{opening.others}} % | </span>
		           <span ng-if="opening.diverse">Diverse : {{opening.diverse}} % </span>
		           </p>
      
      	</div>
        <div class="col-md-12 submissionDetails" style="margin-top: 0px;" ng-if="opening.openDescription" >
         <h4> Resume Sections:</h4>
		            <p ng-bind-html="opening.sections | toTrustHtml"> </p>
		            <h4> Description:</h4>
         <p ng-bind-html="opening.description | toTrustHtml"> </p>
         <p class="text-right"><button  class="btn  btn-xs btn-success " type="submit" ng-click="applyJob(opening);">Apply</button></p>
         </div>
     </div>
   
   <dir-pagination-controls style="position: relative;left: 40%;"></dir-pagination-controls>
		</div>

   </section>