<section class="content">

     <div class="row" style="padding-top:10px;">

     <div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="input-group">
     <input type="text" class="form-control" placeholder="Type Here to Filter Skill Jobs" aria-describedby="basic-addon2">
     <span class="input-group-addon glyphicon glyphicon-filter" ></span>
     </div>
     </div>
     <div class="col-md-2"></div>
     </div>
     </br></br>

     <div class="col-md-12" >
       <div class="col-md-12 submissionBg">
       <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
       </br>
       <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
       </div>
    </div>

    <div class="col-md-12" >
      <div class="col-md-12 submissionBg">
      <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
      </br>
      <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
      </div>
   </div>

   <div class="col-md-12" >
     <div class="col-md-12 submissionBg">
     <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
     </br>
     <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
     </div>
  </div>

     <div class="col-md-12" >
       <div class="col-md-12 submissionBg">
       <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
       </br>
       <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
       </div>
    </div>

      <div class="col-md-12" >
				<div class="col-md-12 submissionBg">
        <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
        </br>
        <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
      	</div>
        <div class="col-md-12">
        <div class="col-md-12 submissionDetails" >
         <p>Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</p>

         <p>We are lookin for  candidates with excellenbt communication skills and with passion to be a part of as evolving organization working on cutting edge technologies </p>
          <p>Job roles include:</p>
          <p>work on high level design</p>
          <p>Participate in low level design/Problem solving and review</p>
           <p><button class="btn  btn-xs btn-success pull-right" type="submit">Apply</button></p>
         </div>
    		</div>
     </div>

     <div class="col-md-12" >
       <div class="col-md-12 submissionBg">
       <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
       </br>
       <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
       </div>
    </div>

    <div class="col-md-12" >
      <div class="col-md-12 submissionBg">
      <span>  Sr Ruby On Rails <span class="label label-success">Html</span><span class="label label-success">Ajax</span><span class="label label-success">Css</span><span class="label label-success">JavaScript</span><span class="label label-success">Ruby On Rails</span><span class="glyphicon glyphicon-ok pull-right submissionIcon"></span></span>
      </br>
      <span>  Contract | Duration 12 months | Exp: 3 yrs | United Nations Plaza,San Francisco, CA, USA | posted 5 months ago</span>
      </div>
   </div>

		</div>

   </section>