
<section class="content-header">


	<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom: 10px;">
					<div class="panel-heading">
						<h3 class="panel-title">{{postOrUpdateLabel}}</h3>
					</div>

				</div>
     </div>
    
      <div class="col-md-12">
      
      <div class="row">
      <div class="col-md-12" ng-if="postOrUpdateLabel==='Post Job To FaceMyResume'">
      
      <p ng-if="userDetails.role===7 && postOrUpdateLabel==='Post Job To FaceMyResume'">To create bulk jobs Please use this <a target="_blank" href="{{url}}">template</a></p>
      <p ng-if="userDetails.role===7 && postOrUpdateLabel==='Post Job To FaceMyResume'">Instructions: <br>
      1)Template name should exist in application 
      2)Start Date format is yyyy-MM-dd 
      3)Position Type should be Contract or Permanent 
      4)Currency should be Euro or Dollar or Pound 
      5)Job Type should be Hourly or Weekly or Monthly or Annually 
      6)Diverse Type should be Women or Veterian or Hispanic or LGBT
      7)Sum of Others and Diverse should be 100 
      8)To select Preferred only or Diverse only, fill true or leave blank
      9)All are case sensitive</p>
      <div  class="row" ng-if="userDetails.role===7  && postOrUpdateLabel==='Post Job To FaceMyResume'">
				<div class="form-group  col-xs-6" >
					<input class="white" type="file" file-model="postJob.bulkUpload"  />
				</div>
				<div class="form-group  col-xs-6" >
				<button  type="button"  ng-click="createBulkJob();" class="btn  btn-success active" ng-disabled="!postJob.bulkUpload">
			  UPLOAD BULK JOBS </button>
			  </div>
		</div>
		
	<div class="col-xs-12" ng-if="bulkResult && userDetails.role===7 && postOrUpdateLabel==='Post Job To FaceMyResume'">
				<p class="text-danger">Unable to create below jobs</p>
				<p class="text-danger">Errors:</p>
				<div class="col-xs-12" ng-repeat="result in bulkResult">
				<p>Row Number:  {{result.rowNumber}} </p>
				<label class="bulkErrorMessage" ng-repeat="error in result.errors track by $index">{{error}}</label>
				</div>
				</div>	
				
		
				
      
      Pick Template from the following or <a ui-sref="main.newTemplate">Create Template</a><br>
      
		  <label ng-repeat="template in templates" style="padding-right: 10px;" ><input type="radio" name="{{template.templateId}}" id="{{template.templateId}}" ng-model="postJob.templateId" value="{{template.templateId}}"> {{template.templateName}}</label>
</div>
      </div>
    
	<div class="row">
		<div class="col-md-12">
			<form role="form" name="postJobForm" id="postJob">
			 <div class="form-group">
				    <label for="diversity"> DIVERSITY<span class="text-red">*</span>
						</label><br>
					  <span ng-repeat="postJob in diversities">
					  <input type="checkbox" ng-model="postJob.selected" ng-change="changeDiversity();" value={{postJob.name}} > {{postJob.name}}
					  </span>
			   </div>
			    <div class="form-group" ng-if="userDetails.role===1">
					<label for="hiringManager">
						HIRING MANAGER <span class="text-red">*</span>
					</label>
					<select class="form-control" ng-model="postJob.hiringUserId" required="required" ng-disabled="userDetails.role===2 || userDetails.role===7">
					<option>Select Hiring Manager</option>
					<option ng-repeat="HMDetail in HMDetails" value="{{HMDetail.userId}}"> {{HMDetail.email}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="title">
						TITLE<span class="text-red">*</span>
					</label>
					<input type="text" ng-model="postJob.title" class="form-control" id="title" required="required" placeholder="Title"/>
				</div>
				
				<div class="row">
				<div class="form-group col-md-3 col-xs-12">
					<label for="location">
						LOCATION<span class="text-red">*</span>
					</label>
					<input type="text" ng-model="postJob.location"  class="form-control" id="location" required="required" placeholder="Location" ng-keypress="autoComplete()"/>
				</div>
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="posistionType">
						POSITION TYPE<span class="text-red">*</span>
					</label><br>
					<label class="radio-inline">
					  <input type="radio" name="Contract" ng-model="postJob.jobType" id="Contract" value="1"> Contract
					</label>
					<label class="radio-inline">
					  <input type="radio" name="Permanent" ng-model="postJob.jobType" id="Permanent" value="0"> Permanent
					</label>
					
				</div>
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="startDate">
						START DATE<span class="text-red">*</span>
					</label>
					 <p class="input-group">
          <input type="text" readonly="readonly" ng-click="popup1.opened=!popup1.opened" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="postJob.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Start Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
				</div>
			
				
				
				<div class="form-group col-md-3 col-xs-12" ng-show="postJob.jobType=='1'">
					 <label for="duration">
						DURATION<span class="text-red">*</span>
					</label>
          <input type="number" min="0" ng-model="postJob.duration" class="form-control" id="duration" ng-required="postJob.jobType==1" placeholder="Duration in Months"/>

				</div>
				</div>
				<div class="form-group">
					<label for="CL">
						DESCRIPTION<span class="text-red">*</span>
					</label>
					<textarea class="form-control"  id="CL" required="required" placeholder="Description"></textarea>
				</div>
				<div class="row">
				
				<div class="form-group ">
					<label for="skills">
						SKILLS<span class="text-red">*</span>
					</label>
					<input type="text" ng-model="postJob.skills" class="form-control" id="skills" placeholder="Add skills with comma separated, Eg: Java,Spring"  required/>
				</div>
				</div>
				
				<div class="row">
				<div class="form-group col-md-6 col-xs-12" style="padding-left: 0px;">
					 <label for="compensation"  ng-if="postJob.jobType==0">
						COMPENSATION <span class="text-red">*</span>
					</label>
					<label for="compensation" ng-if="postJob.jobType==1">
						PAY RATE   <span class="text-red">*</span>
					</label>
					<input style="margin-left: 30px;" id="showCompensation" type="checkbox" ng-model="postJob.showCompensation"/><label for="showCompensation">Show {{postJob.jobType==1?'Pay rate':'Compensation'}} to candidate</label>
					<input type="number" min="0" class="form-control" ng-model="postJob.compensation" id="compensation" required="required" placeholder="{{postJob.jobType==1?'Pay rate':'Compensation'}}"/>
				</div>
				
				<div class="form-group col-md-3 col-xs-12">
				<div ng-init="payRateType=[{type:'Hourly'},{type:'Weekly'},{type:'Annually'}]">
            	<label for="payrateType">
            		PAY RATE TYPE<span class="text-red">*</span>
            		</label><br>
            		<select ng-model="postJob.payrateType" id="type" required="required" ng-options="p.type as p.type for p in payRateType" class="form-control">
            		 <option value="">Monthly</option> 
            		</select>
        		</div>
				</div>		
				
				<div class="form-group col-md-3 col-xs-12">
				<div ng-init="Currency=[{name:'Euro'},{name:'Pound'}]">
            		<label for="Currency">
            		CURRENCY<span class="text-red">*</span>
            		</label> <br>
            		<select ng-model="postJob.currency" id="currency" required="required" ng-options="curr.name as curr.name for curr in Currency" class="form-control">
            		  <option value="">Dollar</option>
            		</select>
        		</div>
       			</div>
       				 
       			</div>
       			
       			<!--  -->
       			<div class="row"  ng-if="userDetails.role===7">
				<div class="form-group col-md-3 col-xs-12" style="padding-left: 0px;">
					<label for="location">
						DEPARTMENT<span class="text-red">*</span>
					</label>
					<input type="text" ng-model="postJob.department"  class="form-control" id="department" required="required" placeholder="Department" />
				</div>
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="location">
						QUOTA (%)<span class="text-red">*</span>
					</label>
					<input type="number" ng-model="postJob.quota" min="0" max="100" class="form-control" id="quota" required="required" placeholder="Quota %" />
				</div>
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="location">
						OTHERS (%)<span class="text-red">*</span>
					</label>
					<input type="number" ng-model="postJob.others" min="0" max="100" ng-change="calQuotaPercentage('others')" class="form-control" id="others" required="required" placeholder="Others %" />
				</div>
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="location">
						DIVERSE (%)<span class="text-red">*</span>
					</label>
					<input type="number" ng-model="postJob.diverse" min="0" max="100" ng-change="calQuotaPercentage('diverse')" class="form-control" id="Diverse" required placeholder="DiverseS %" />
				</div>
				</div>
       			
       			<!--  -->
       			
       			<div class="row">
				<div class="form-group col-xs-8" style="padding: 0px;">
					
					 <label for="experience">
						EXPERIENCE<span class="text-red">*</span>
						{{experienceError}}
					</label> <br>
					
				<input type="number" min="0" class="col-xs-3 form-control" style="max-width:35%;border-radius: 5px;" max="20" step="any"  required="required" ng-model="postJob.minimumExperience" id="minimumExperience" placeholder="Min Exp" value="" />&nbsp;
            <span  class="col-xs-1" style="font-size: 25px;padding-left: 25px;"> - </span> &nbsp; 
            <input type="number" min = "1" class="col-xs-3 form-control" style="max-width:35%;border-radius: 5px;" max = "20" step="any"  required="required" ng-model="postJob.maximumExperience" id="maximumExperience" placeholder="Max Exp" value=""  />&nbsp;
				</div>
				
				<div class="form-group col-md-3 col-xs-12" ng-if="userDetails.role===7">
				<label for="posistionType" style="visibility:hidden;">
						Category<span class="text-red">*</span>
					</label><br>
					<label class="checkbox-inline">
					  <input type="checkbox" name="preferredCheck" ng-model="postJob.preferredCheck" id="preferredCheck" > Preferred Only
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="diverseCheck" ng-model="postJob.diverseCheck" id="diverseCheck" > Diverse Only
					</label>
					
				</div>
				
				<div class="form-group col-md-3 col-xs-12" ng-if="userDetails.role===7">
					<div ng-init="types=[{type:'Women'},{type:'Veterian'},{type:'Hispanic'},{type:'LGBT'}]">
            	<label for="payrateType">
            		DIVERSE TYPE<span class="text-red">*</span>
            		</label><br>
            		<select ng-model="postJob.diverseType" id="type" required="required" ng-options="p.type as p.type for p in types" multiple="multiple" class="form-control">
            		 
            		</select>
        		</div>
				</div>
				
				</div>
				
				
				
				
				 <p ng-show="error" class="text-danger"><label>{{error}}</label></p>
				 
				
				
				<div class="text-center">
				
				<button type="submit" ng-if="postOrUpdateLabel==='Post Job To FaceMyResume'" ng-click="createJob();" class="btn  btn-success active" ng-disabled="postJobForm.$invalid || error!='' ">
			  CREATE JOB  </button>
			  <button type="submit" ng-if="postOrUpdateLabel==='UPDATE JOB'" ng-click="updateJob();" class="btn  btn-success active" ng-disabled="postJobForm.$invalid || error!=''">
			  UPDATE JOB</button>
			  </div>
			  <br> <br>
			</form>
		</div>
	</div>
     
     </div>
     

</section>