
<section class="content-header">


	<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom: 10px;">
					<div class="panel-heading">
						<h3 class="panel-title">{{postOrUpdateLabel}} JOB </h3>
					</div>

				</div>
     </div>
     
      <div class="col-md-12">
      
      <div class="row">
      <div class="col-md-12">
      Pick Template from the following or <a ui-sref="main.newTemplate">Create Template</a><br>
      
		  <label ng-repeat="template in templates" style="padding-right: 10px;" ><input type="radio" name="{{template.templateId}}" id="{{template.templateId}}" ng-model="postJob.templateId" value="{{template.templateId}}"> {{template.templateName}}</label>
</div>
      </div>
    
	<div class="row">
		<div class="col-md-12">
			<form role="form" name="postJob" id="postJob">
			    <div class="form-group">
					<label for="hiringManager">
						HIRING MANAGER
					</label>
					<select class="form-control" ng-model="postJob.hiringUserId" required="required">
					<option>Select Hiring Manager</option>
					<option ng-repeat="HMDetail in HMDetails" value="{{HMDetail.userId}}"> {{HMDetail.email}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="title">
						TITLE
					</label>
					<input type="text" ng-model="postJob.title" class="form-control" id="title" required="required" placeholder="Location"/>
				</div>
				
				<div class="row">
				<div class="form-group col-md-4 col-xs-12">
					<label for="location">
						LOCATION
					</label>
					<input type="text" ng-model="postJob.location"  class="form-control" id="location" required="required"/>
				</div>
				<div class="form-group col-md-4 col-xs-12" >
					 <label for="posistionType">
						POSITION TYPE
					</label><br>
					<label class="radio-inline">
					  <input type="radio" name="Permanent" ng-model="postJob.jobType" id="Permanent" value="0"> Permanent
					</label>
					<label class="radio-inline">
					  <input type="radio" name="Contract" ng-model="postJob.jobType" id="Contract" value="1"> Contract
					</label>
				</div>
				<div class="form-group col-md-4 col-xs-12" >
					 <label for="startDate">
						START DATE
					</label>
					 <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="postJob.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Start Date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1.opened=!popup1.opened"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
				</div>
				</div>
				<div class="form-group">
					<label for="CL">
						Description
					</label>
					<textarea class="form-control" ng-model="postJob.description" id="CL" required="required" placeholder="Description"></textarea>
				</div>
				<div class="form-group">
					<label for="skills">
						skills
					</label>
					<input type="text" ng-model="postJob.skills" class="form-control" id="skills"  required="required"/>
				</div>
				<div class="row">
				<div class="form-group col-md-6 col-xs-12">
					 <label for="compensation">
						COMPENSATION
					</label>
					<input type="number" class="form-control" ng-model="postJob.compensation" id="compensation" required="required" placeholder="Salary per annum  Eg: 500000"/>
				</div>
				<div class="form-group col-md-6 col-xs-12" >
					 <label for="experience">
						EXPERIENCE
					</label>
					<input type="number" class="form-control" ng-model="postJob.experience" id="experience" required="required" placeholder="Experience in Years"/>
				</div>
				</div>
				
				<button type="submit" ng-if="postOrUpdateLabel==='POST'" ng-click="createJob();" class="btn btn-block btn-success active" ng-disabled="postJob.$invalid">
			  CREATE JOB</button>
			  <button type="submit" ng-if="postOrUpdateLabel==='UPDATE'" ng-click="updateJob();" class="btn btn-block btn-success active" ng-disabled="postJob.$invalid">
			  UPDATE JOB</button>
			</form>
		</div>
	</div>
     
     </div>
     

</section>