<div dw-loading="submitTech" dw-loading-options="{text: '',spinnerOptions: {lines: 15, length: 20,  width: 5, radius: 20,color:'#3c8dbc'}}">

<div class="modal-header" > 
<p>
<label style="font-size: medium;"> Submit To Tech</label>
<label ng-click="cancel();" style="cursor: pointer;position: absolute;left: 95%;top: 20px;" class="glyphicon glyphicon-remove"></label>
</p>
        
  		
  </div>
  
   <div class="modal-body">
   <div class="row" ng-if="techUsers.length>0">

              <table id="allRoles" class="table table-striped table-bordered centerAlign" style="margin-bottom: 0px;">
                <thead >
                <tr>
                  <th class="bg-primary">  </th>
                   <th class="bg-primary">Email</th>
                </tr>
                </thead>
                <tbody>
                
                 <tr dir-paginate="user in techUsers | filter:search | itemsPerPage: 10 "  pagination-id="technical">
                  <td> <input type="checkbox" name="techUser" id="{{user.email}}" value="{{user.email}}"  ng-click="assignTechId(user.id);" />
					</td>
                  <td>{{user.email}}</td>
                </tr>
       
                </tbody>

              </table>
<dir-pagination-controls pagination-id="technical" style="position: relative;left: 40%;"></dir-pagination-controls>
	</div>
	<div class="row" ng-if="techUsers.length==0">
	<p>No Users To Submit</p>
	</div>
   </div>
   
   <div class="modal-footer ">
   <button type="button" class="btn btn-success pull-right" ng-disabled="" ng-click="saveTech();">Save</button> 
   </div>
   
   </div>