  <section id="templates" class="content-header">
    <div class="row">
      <div class="col-md-12">

      <a ui-sref="main.newTemplate" class="btn  btn-success pull-right" role="button">New Template</a>
            <table id="newTemplate" class="table table-striped table-bordered centerAlign">
              <thead>
              <tr>
                <th class="bg-primary">NAME</th>
                <th class="bg-primary">ACTIONS</th>
              </tr>
              </thead>
              <tbody>
              
              <tr ng-repeat="template in templates">
               <td>{{template.templateName}}</td>
               
                <td ng-if="$index===0">
                <button ng-click="editOrShow(template,'main.showTemplate');" class="btn btn-xs btn-primary">Show</button>
                <button ng-click="editOrShow(template,'main.editTemplate');" class="btn btn-xs btn-primary" >Edit</button>
                <button type="button"  ng-click="deleteTemplate(template,$index);" class="btn btn-xs btn-primary">Delete</button>
                </td>
                
                 <td ng-if="$index!==0">
                 <button ng-click="editOrShow(template,'main.showTemplate');" class="btn btn-xs btn-default" ><span class="glyphicon glyphicon-eye-open"></span></button>
                 <button ng-click="editOrShow(template,'main.editTemplate');" class="btn btn-xs btn-default" ><span class="glyphicon glyphicon-pencil"></span></button>
                 <button type="button" ng-click="deleteTemplate(template,$index);" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span>	</button>
                </td>
              </tr>
              
              </tbody>

            </table>

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
