
   <section class="content">
		<div class="box">
		 <div class="box-header">
              <h3 class="box-title"><a>{{job.title}}</a></h3>
            </div>
		<div class="box-body">
			<div  class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
				<ul id="viewSubmissions" class="nav nav-tabs bg-primary">
				  <li><a href="#tab_1" ng-class="{'myJobsActive':status==='NEW'}" ng-click="fetchSubmissions('NEW')">New({{statuses.NEW}})</a></li>
				  <li ng-if="userDetails.role===1"><a href="#tab_2" ng-class="{'myJobsActive':status==='SUBMITTEDTOHM'}" ng-click="fetchSubmissions('SUBMITTEDTOHM')">Submitted to HM({{statuses.SUBMITTEDTOHM}})</a></li>
				  <li><a href="#tab_3" ng-class="{'myJobsActive':status==='UNDECIDED'}" ng-click="fetchSubmissions('UNDECIDED')">Undecided({{statuses.UNDECIDED}})</a></li>
				  <li><a href="#tab_4" ng-class="{'myJobsActive':status==='PROCESSING'}" ng-click="fetchSubmissions('PROCESSING')">Interview in Process({{statuses.PROCESSING}})</a></li>
				  <li><a href="#tab_5" ng-class="{'myJobsActive':status==='HIRED'}" ng-click="fetchSubmissions('HIRED')">Hired({{statuses.HIRED}})</a></li>
				  <li><a href="#tab_6" ng-class="{'myJobsActive':status==='REJECTED'}" ng-click="fetchSubmissions('REJECTED')">Rejected({{statuses.REJECTED}})</a></li>
				</ul>
			</div>
		
				<div class="col-md-12" style=" padding-left: 0px;padding-right: 0px;padding-top: 10px; background-color: #f5f5f5;" >
					<div class="col-md-3">
						<div class="list-group">
						  <a  ng-click="getSubmissionsForUser(user,$index);" class="list-group-item " ng-class="{'active':activeUser===$index}" ng-repeat="user in viewSubmission.users">
							{{user.firstName}}
						  </a>
						</div>
					</div>
					<div class="col-md-9">
					<div class="col-md-12">
					<button  ng-class="{'btn btn-success active':activeSection=== $index,'btn btn-default':activeSection!== index}" ng-click="changeSection($index)" ng-repeat="section in viewSubmission.submmision.sections" style="margin-right: 5px;">{{section.sectionName}}</button>
							
				</div>
				<div class="col-md-12">
							<label>Attachments : <a>CV</a></label>
						</div>
					<div class="col-md-7">
						<video preload="metadata" controls="controls" class="section_player section_video" width="410" height="240" ng-src="{{viewSubmission.submmision.sections[activeSection].videoPath | trustUrl}}">Your browser does not support HTML5 video.</video>
						<div><label>Submission Date: {{viewSubmission.users[activeUser].createdAt| date:'MMM dd, yyyy'}}</label></div>
						<div class="col-xs-12">Candidate ratings:</div><div class="col-xs-12"><input-stars readonly="readonly" max="5" ng-model="viewSubmission.submmision.sections[activeSection].userRating"></input-stars></div>
						<div class="col-xs-12" ng-hide="status==='NEW'">Consulting Company Rating:</div><div class="col-xs-12" ng-hide="status==='NEW'"><input-stars readonly="readonly" max="5" ng-model="viewSubmission.submmision.sections[activeSection].cmRating"></input-stars></div>
						<div class="col-xs-12" ng-hide="status==='NEW'">Hiring Manager Rating:</div><div class="col-xs-12" ng-hide="status==='NEW'"><input-stars readonly="readonly" max="5" ng-model="viewSubmission.submmision.sections[activeSection].hmRating"></input-stars></div>
					</div>
					<div class="col-md-5" style="padding-right: 0px;" ng-hide="status==='SUBMITTEDTOHM' || (userDetails.role===1 && status==='PROCESSING') || (status==='HIRED')">
					
						<div ng-show="status==='NEW'" class="col-xs-12" ng-repeat="section in viewSubmission.submmision.sections"> 
						<div>{{section.sectionName}}:</div>
						<input-stars max="5" ng-model="sectionRating[$index]"></input-stars>
						</div>
						
						<div class="btn-group" role="group" aria-label="...">
						  <button type="button" class="btn btn-default"  ng-if="userDetails.role===1 && (status==='NEW' || status==='UNDECIDED' || status==='REJECTED' ) && status!=='SUBMITTEDTOHM'">Submit To HM</button>
						  <button type="button" class="btn btn-default"  ng-if="(userDetails.role===2 && (status==='NEW' || status==='PROCESSING' || status==='UNDECIDED')) ">Hire</button>
						  <button type="button" class="btn btn-default" ng-hide="status==='PROCESSING'" ng-if="userDetails.role===2">Interview</button>
						  <button type="button" class="btn btn-default" ng-hide="status==='UNDECIDED'">Undecided</button>
						  <button type="button" class="btn btn-default" ng-hide="status==='REJECTED'" ng-click="rejectFlag=!rejectFlag">Reject</button>
						</div>
						<textarea class="form-control" rows="3" ng-show="rejectFlag" placeholder="Comment for rejection"></textarea>
						<button ng-show="status==='NEW'" class="btn btn-primary btn-block active" style="margin-top: 10px;" >Submit</button>
						</div>
						
						<div class="col-md-12">
					<p><label><em>Avalabilities:</em></label></p>
					
					<div ng-repeat="available in viewSubmission.submmision.availablities">
					<p>{{$index+1}}) Available on <label>{{available.date| date:'dd MMM yyyy'}}</label>  from <label>{{available.fromTime}}</label> to <label>{{available.toTime}}</label> <button style="position: relative;top: -2px;" class="btn btn-xs btn-success glyphicon glyphicon-refresh"></button> </p>
					</div>
					
					</div>
					</div>
					
					
					
					</div>
					
					
					
				</div>
			
			
			</div>
	</div>
	</section>



