
   <section class="content">
		<div class="box">
		 <div class="box-header">
              <h3 class="box-title"><a>{{job.title}}</a></h3>
            </div>
		<div class="box-body">
			<div  class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
				<ul id="viewSubmissions" class="nav nav-tabs bg-primary">
				  <li><a href="#tab_1" ng-class="{'myJobsActive':status==='NEW'}" ng-click="fetchSubmissions('NEW')">New(0)</a></li>
				  <li><a href="#tab_2" ng-class="{'myJobsActive':status==='UNDECIDED'}" ng-click="fetchSubmissions('UNDECIDED')">Undecided(3)</a></li>
				  <li><a href="#tab_3" ng-class="{'myJobsActive':status==='PROCESSING'}" ng-click="fetchSubmissions('PROCESSING')">Interview in Process(2)</a></li>
				  <li><a href="#tab_4" ng-class="{'myJobsActive':status==='HIRED'}" ng-click="fetchSubmissions('HIRED')">Hired(5)</a></li>
				  <li><a href="#tab_5" ng-class="{'myJobsActive':status==='REJECTED'}" ng-click="fetchSubmissions('REJECTED')">Rejected(5)</a></li>
				</ul>
			</div>
		
				<div class="col-md-12" style=" padding-left: 0px;padding-right: 0px;padding-top: 10px; background-color: #f5f5f5;" >
					<div class="col-md-3">
						<div class="list-group">
						  <a  ng-click="getSubmissionsForUser(user,$index);" class="list-group-item " ng-class="{'active':activeUser===$index}" ng-repeat="user in viewSubmission.users">
							{{user.firstName}}
						  </a>
						</div>
					</div>
					<div class="col-md-9">
					<div class="col-md-12">
					<button  ng-class="{'btn btn-success active':activeSection=== $index,'btn btn-default':activeSection!== index}" ng-click="changeSection($index)" ng-repeat="section in viewSubmission.submmision.sections" style="margin-right: 5px;">{{section.sectionName}}</button>
							
				</div>
				<div class="col-md-12">
							<label>Attachments : <a>CV</a></label>
						</div>
					<div class="col-md-7">
						<video preload="metadata" controls="controls" class="section_player section_video" width="410" height="240" src="{{viewSubmission.submmision.sections[activeSection].videoPath | trustUrl}}">Your browser does not support HTML5 video.</video>
						<div><label>Submission Date: {{viewSubmission.users[activeUser].createdAt| date:'MMM dd, yyyy'}}</label></div>
						<div class="col-xs-12">Candidate ratings:</div><div class="col-xs-12"><input-stars max="5" ng-model="viewSubmission.submmision.sections[activeSection].userRating"></input-stars></div>
					</div>
					<div class="col-md-5">
						
						<div class="col-xs-12" ng-repeat="section in viewSubmission.submmision.sections"> 
						<div>{{section.sectionName}}:</div>
						<input-stars max="5" ng-model="sectionRating[$index]"></input-stars>
						</div>
						
						<div class="btn-group" role="group" aria-label="...">
						  <button type="button" class="btn btn-default" ng-if="userDetails.role===1">Submit To HM</button>
						  <button type="button" class="btn btn-default">Undecided</button>
						  <button type="button" class="btn btn-default">Reject</button>
						</div>
						<br><br>
						<button class="btn btn-success btn-block active">Submit</button>
						
					</div>
					
					<div class="col-md-12">
					<p><label><em>Avalabilities:</em></label></p>
					
					<div ng-repeat="available in viewSubmission.submmision.availablities">
					<p>{{$index+1}}) Available on <label>{{available.date| date:'dd MMM yyyy'}}</label>  from <label>{{available.fromTime}}</label> to <label>{{available.toTime}}</label> <button style="position: relative;top: -2px;" class="btn btn-xs btn-success glyphicon glyphicon-refresh"></button> </p>
					</div>
					
					</div>
					
					</div>
					
					
					
				</div>
			
			
			</div>
	</div>
	</section>



