
<section class="content-header">
	

		<div class="panel panel-primary">
			<div class="panel-heading">{{title}}</div>
			<div class="panel-body">
				
				<div class="col-md-12">
					<button  ng-class="{'btn btn-success active':activeSection=== $index,'btn btn-default':activeSection!== index}" ng-click="changeSection($index)" ng-repeat="section in mySubmission.sections" style="margin-right: 5px;">{{section.sectionName}}</button>
							
				</div>
</br></br>
				<div class="col-md-12">
					<!--Attachments: <a href="#">CV</a>-->
					Attachments: <a href="submissions/filedownload?fileIs={{mySubmission.jobId}}//{{mySubmission.resumePath}}" download>CV</a>
				</div>
</br></br>
				<div class="col-md-12">
					<div class="col-md-8 col-xs-12">
                   <video preload="metadata" controls="controls" class="section_player section_video" width="410" height="240" ng-src="{{mySubmmision.sections[activeSection].videoPath | trustUrl}}">Your browser does not support HTML5 video.</video>
					</div>
					<div class="col-md-4 col-xs-12">Self Rating : <input-stars readonly="readonly" max="5" ng-model="mySubmission.sections[activeSection].userRating"></input-stars></div>
				</div>

			</div>
		</div>


</section>