# To check all ESLint rules please go to
# http://eslint.org/docs/rules/
# Severity should be one of the following:
# 0 = off, 1 = warning, 2 = error.
{
  "env": {
    "node": true,
    "browser": true,
    "builtin": true
  },
  "globals": {
     "$"                    : false,
     "define"               : false,
     "angular"              : false,
     "protractor"           : false,
     "module"               : false,
     "browser"              : false,
     "repeater"             : false,
     "element"              : false,
     "inject"               : false,
     "afterEach"            : false,
     "beforeEach"           : false,
     "confirm"              : false,
     "context"              : false,
     "describe"             : false,
     "expect"               : false,
     "it"                   : false,
     "xit"                  : false,
     "jasmine"              : false,
     "_"                    : false,
     "JSHINT"               : false,
     "mostRecentAjaxRequest": false,
     "qq"                   : false,
     "runs"                 : false,
     "spyOn"                : false,
     "spyOnEvent"           : false,
     "waitsFor"             : false,
     "xdescribe"            : false,
     "window"               : false,
     "alert"                : false,
     "require"              : false,
     "console"              : false,
     "by"                   : false,
     "moment"               : false,
     "def"                  : false,
     "Spinner"              : false,
     "requirejs"            : false,
     "self"                 : false,
     "Handsontable"         : false,
     "mongoConnection"      : false,
     "dbName"               : false,
     "ko"                   : false
  },
  "rules": {
    "block-scoped-var": 1,
    "camelcase": 1,
    "curly": [2, "all"],
    "comma-dangle": [2, "never"],
    "dot-notation": 1,
    "eqeqeq": 2,
    "no-eq-null": 2,
    "new-cap": 1,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-cond-assign": 2,
    "no-debugger": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-parens": 1,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-loop-func": 1,
    "no-multi-str": 2,
    "no-new": 1,
    "no-proto": 2,
    "no-script-url": 2,
    "no-sequences": 2,
    "no-shadow": 1,
    "no-undef": 1,
    "no-func-assign": 2,
    "no-use-before-define": 0,
    "no-unused-vars": 1,
    "no-with": 1,
    "semi": 2,
    "guard-for-in": 2,
    "no-unreachable": 2,
    "no-ex-assign": 1,
    "valid-typeof": 2,
    "wrap-iife": [2, "inside"]
  }
}
