
<header class="main-header">

	<a href="" class="logo"> <span class="logo-mini"><b>FM</b>R</span>
		<span class="logo-lg"><b>Face</b>MyResume</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		

		<div class="navbar-custom-menu">
			<a href="http://www.facemyresume.com/" style="color: white;position: relative;top: 10px;"><label style="cursor: pointer;">Login/Sign Up</label></a>
		</div>
	</nav>
</header>