
<div class="row">
	<div class="col-md-12">
		<div class="loginFields">
			<span class="glyphicon glyphicon-user  bg-primary"></span> <input
				type="text" placeholder="E-mail address" />
		</div>
		<div class="loginFields">
			<span class="glyphicon glyphicon-lock  bg-primary"></span> <input
				type="password" placeholder="Password" />
		</div>
		<div class="checkbox">
			<label> <input type="checkbox"> Remember me
			</label>
		</div>
		</br>
		<button type="button" class="btn btn-block btn-success active">
			Secure Login</button>
	</div>
</div>

