
<div class="row">
	<div class="col-md-12">
	<form name="loginForm" ng-submit="login();">
		<div class="loginFields">
			<span class="glyphicon glyphicon-user  bg-primary"></span> 
			<input name="emailId" type="email" placeholder="E-mail address" ng-model="userDetails.emailId" required="required"/>
		</div>
		<div class="loginFields">
			<span class="glyphicon glyphicon-lock  bg-primary"></span>
			 <input type="password" placeholder="Password" ng-model="userDetails.password" required="required"/>
		</div>
		
		
		
		<div class="checkbox" style="margin-bottom: 0px;">
			<label > <input  ng-checked="rememberMe"  ng-click="rememberMe1();" type="checkbox"> Remember me
			</label>
		</div>
		
		<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
		<a ui-sref="login.forgotPassword" ng-click="assignState('login.forgotPassword');resetUserDetails();resetMessages();checkForRememberMe();">Forgot Password ?</a><br>
		<a ui-sref="login.confirmationInstructions" ng-click="assignState('login.confirmationInstructions');resetUserDetails();resetMessages();checkForRememberMe();">Didn't receive confirmation instructions ?</a>
		</div>
		<br>
		<br>
		<button type="submit" class="btn btn-block btn-success active" >
			<i class="glyphicon glyphicon-lock"></i>  Secure Login</button>
			<br>
			<div ng-if="false">
			<button type="button" class="btn  btn-defualt active" ng-click="defaultLogins('hmfacemyresume@gmail.com','12345678');"> HM Auto Login</button>
		<button type="button" class="btn  btn-defualt active" ng-click="defaultLogins('cmfacemyresume@gmail.com','12345678');"> CM Auto Login</button>
		<button type="button" class="btn  btn-defualt active" ng-click="defaultLogins('jayabharani@gmail.com','123456');"> Candidate Auto Login</button>
		<button type="button" class="btn  btn-defualt active" ng-click="defaultLogins('consumer@gmail.com','1');"> Corporate Auto Login</button>
		
		</div>
	</form>
	</div>
</div>

