
<div class="row">
	<div class="col-md-12">
		<div class="loginFields">
			<span class="glyphicon glyphicon-user  bg-primary"></span> <input
				type="text" placeholder="E-mail address" />
		</div>
		<div class="loginFields">
			<span class="glyphicon glyphicon-lock  bg-primary"></span> <input
				type="password" placeholder="Password" />
		</div>
		<div class="loginFields">
			<span class="glyphicon glyphicon-lock  bg-primary"></span> <input
				type="password" placeholder="Confirm Password" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<strong>Role</strong>: <label class="radio-inline"> <input
			type="radio" name="inlineRadioOptions" id="inlineRadio1"
			value="option1"> Candidate
		</label> <label class="radio-inline"> <input type="radio"
			name="inlineRadioOptions" id="inlineRadio2" value="option2">
			Consulting Manager
		</label> <label class="radio-inline"> <input type="radio"
			name="inlineRadioOptions" id="inlineRadio3" value="option3">
			Hiring Manager
		</label>
	</div>
</div>

</br>
<button type="button" class="btn btn-block btn-success active">
	Signup</button>
